// Place all the styles related to the api/decks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-grey: #676767;
$secondary-grey: #dddddd;
$primary-blue: #29a5dc;
$flash-blue: #90CAF9;
$tirtiary-grey: #f3f3f3;
$button-transition: .2s;
$deck-header-width: 500px;

ul.deck-header {
  margin-left: 20px;
}

li.deck-header-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: $deck-header-width;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: $tirtiary-grey;
  border-top: 3px solid $primary-blue;
  font-weight: normal;
  box-sizing: border-box;
  color: $primary-grey;
}


li.deck-index-item {
  padding: 10px;
  padding-bottom: 6px;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  background-color: $flash-blue;
  color: white;
  font-weight: lighter;
  font-size: 12px;
  width: 90px;
  margin-right: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  transition: all $button-transition ease-in-out;
}

li.plus {
  width: 30px;
}

li#selected {
  background-color: $primary-blue;
}

li.deck-index-item:hover {
  background-color: $primary-blue;
  cursor: pointer;
}

div.deck-index-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
  background-color: $tirtiary-grey;
}

h3.decks {
  font-weight: normal;
  color: #272727;
}

ul.deck-index {
  display: flex;
  width: 500px;
  height: auto;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 0px;
  background-color: $tirtiary-grey;
}

li.request {
  // background-color: white;
  // color: $flash-blue;
  width: 30px;
}
// li.request:hover {
//   background-color: white;
//   color: $primary-blue;
// }
