// Place all the styles related to the api/subjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$deck-header-width: 500px;
$primary-color: #5cb85c;
$flash-green: #A5D6A7;
$secondary-color: #ff4e47;
$flash-red: #EF9A9A;
$primary-grey: #676767;
$primary-blue: #29a5dc;
$flash-blue: #90CAF9;
$secondary-grey: #dddddd;
$tirtiary-grey: #f3f3f3;
$grey-four: #999;
$button-padding: 6px;
$primary-margin: 10px;
$edit-color: #f0ad4e;
$flash-orange: #FFCC80;
$remove-color: $secondary-color;
$error-color: #ff1818;
$button-transition: .2s;
$card-index-width: 500px;
$radius: 12px;

div.subject-dashboard-body-container div {
  display: flex;
}

ul#home.nav {
  padding-left: 0px;
  margin-left: 0px;
}

ul#home.nav li {
    margin: 15px;
    width: 30px;
    height: 30px;
}

div.subject-dashboard-container {
  margin: 30px;
}

div.subject-dashboard-body-container {
  margin-top: 20px;
  border-top: 4px solid $secondary-grey;
  background-color: $tirtiary-grey;
  width: 500px;
  box-sizing: border-box;
  padding: 20px;
}

p.subject-dashboard-body {
  border-top: 2px solid $secondary-grey;
  margin-bottom: 20px;
  padding: 10px;
}

p.subject-dashboard-body.first {
  border-top: 0px;
}

h2.subject-dashboard-header {
  color: $primary-blue;
  font-size: 1.8em;
  font-weight: normal;
}

h2.subject-title {
  color: $primary-grey;
  font-size: 1.4em;
  font-weight: normal;
}

.subject-view-container {
  margin: 20px;
}

.subject-index-container {
  background-color: white;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  max-height: 800px;
  position: relative;
  display: flex;
}

#selected-subject {
  background-color: white;
  border-right: 0px solid white;
  border-bottom: 4px solid $secondary-grey;
  border-top: 0px solid $secondary-grey;
}

.subject-index {
  height: 100%;
  width: 210px;
}

.divider {
  width: 210px;
  height: 18px;
  background-color: white;
  box-sizing: border-box;
}

.subject-index-header  {
  border-right: 4px solid $secondary-grey;
  border-bottom: 2px solid $secondary-grey;
  display: flex;
  flex-direction: column;
  width: 210px;
  height: 80px;
  padding: 10px;
  background-color: $tirtiary-grey;
  box-sizing: border-box;
}

.last-subject-item {
  border-right: 4px solid $secondary-grey;
  box-sizing: border-box;
  display: flex;
  padding: 10px;
  width: 210px;
  height: 100%  ;
  background-color: $tirtiary-grey;
}

.subject-title-index {
  color: $primary-blue;
  font-weight: normal;
  font-size: 1em;
}

.react-autosuggest__suggestions-list {
  position: relative;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__container--open {
  z-index: 1000;
  position: relative;
  position: 0px;
  height: 0px;
}

.react-autosuggest__input {
  background-color: $tirtiary-grey;
  border-bottom: 3px solid $secondary-grey;
  border-left: 3px solid $secondary-grey;
}

.react-autosuggest__input:focus {
  outline: none;
  background-color: white;
}

.react-autosuggest__suggestion {
  background-color: white;
  padding: 5px;
  border-bottom: 3px solid $tirtiary-grey;
}
.react-autosuggest__suggestion--focused {
  background-color: #eeeeee;
}

.subject-search-bar {
  display: flex;
  align-items: flex-start;
}

.subject-search-button div {
  color: white;
  font-size: .75em;
}

.subject-search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 9px;
  width: 35px;
  height: 30px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: $flash-blue;
}

.subject-search-button:hover {
  cursor: pointer;
  background-color: $primary-blue;
}

.subject-detail-index {
  color: $grey-four;
  font-weight: normal;
  font-size: .9em;
}

.subject-index-item:hover {
  cursor: pointer;
  background-color: #ebebeb;
  border-right: 4px solid $primary-blue;
}

.subject-index-item {
  border-right: 4px solid $secondary-grey;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-bottom: 0px solid $secondary-grey;
  border-top: 0px solid $secondary-grey;
  padding: 10px;
  padding-left: 15px;
  width: 210px;
  height: 80px;
  background-color: $tirtiary-grey;
}
