/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body, p, h1, h2, h3, h4, section, div, input, ul, li, header, textarea, button {
   padding: 0px;
   margin: 0px;
   border: 0px;
   list-style: none;
   font-family: 'Proxima Nova Thin', sans-serif;
   font-weight: lighter;
   color: 272727;
 }

 body {
   display: flex;
   background-position: center;
   background-image: url('coffee.png');
   background-size: cover;
   background-repeat: no-repeat;
   width: 100%;
   display: -webkit-flex;
   height: 90vh;
   overflow: hidden;
 }

.content-container {
  position: absolute;
  top: 55px;
  bottom: 0px;
  right: 40px;
  left: 40px;
  min-width: 800px;
  background-color: white;
  opacity: .9;
}

input[type=text] {
  padding: 5px;
  font-size: .9em;
}

li.logo-image {
  background-image: url('logo.png');
  height: 35px;
  width: 35px;
  background-size: 35px;
  margin-right: 0px;
  background-position: center;
  background-repeat: no-repeat;
  padding-right: 0px;
}

li.large-logo {
  background-image: url('logo.png');
  height: 160px;
  width: 160px;
  background-size: 160px;
  background-position: center;
  background-repeat: no-repeat;
}

li.search-component-right {
  background-image: url('search.png');
}
 button.edit-card {
   background-image: url('pencil.png');
 }
 button.remove-card {
   background-image: url('trash.png');
 }

 button.edit-deck {
   background-image: url('pencil.png');
 }
 button.remove-deck {
   background-image: url('trash.png');
 }
