.relative-container {
  position: relative;
}

.login {
  position: absolute;
  top: 40px;
  bottom: 20px;
  left: 40px;
  right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.login .login-item {
  margin: 10px;
  padding: 5px;
  font-size: 1em;
}
input.login-item:focus {
  outline: none;
}
input.login-item {
  background-color: transparent;
  border-bottom: 3px solid #272727;
  border-left: 30px solid #272727;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 10px;
}

.login h4 {
  font-weight: lighter;
  font-style: italic;
  color: #aaa;
  size: .5em;
  margin: 20px;
}
button#login-button:hover {
  background-color: #676767;
}

button#login-button {
  font-size: 1em;
  text-align: center;
  width: auto;
  height: auto;
  padding: 8px 14px;
  margin-top: 20px;
  border: 5px;
  font-weight: lighter;
  color: #dddddd;
  background-color: #272727;
}

#login-1 {
  width: 60px;
  height: 30px;
  padding: 0px;
  border: 0px;
  color: #dddddd;
  background-color: #272727;
}
li.large-logo {
  opacity: 1;
}
