.relative-container {
  position: relative;
}

.login {
  position: absolute;
  top: 40px;
  bottom: 40px;
  left: 40px;
  right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.login .login-item {
  margin: 10px;
  padding: 5px;
  font-size: 1em;
}
input.login-item:focus {
  outline: none;
}
input.login-item {
  background-color: transparent;
  border-bottom: 3px solid #272727;
  border-left: 30px solid #272727;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 10px;
}

.login h4 {
  font-weight: lighter;
  font-style: italic;
  color: #aaa;
  size: .5em;
  margin: 20px;
}

.login button {
  width: 60px;
}
