.LoginModalClass {
  position: absolute;
  top: 20%;
  left: 36%;
  right: 36%;
  bottom: 600px;
  min-height: 320px;
  min-width: 500px;
  background-color: #e7e7e7;
  border: 0px solid #999;
  border-radius: 0px;
  transition: all .4s ease-in-out;
}

.OverlayClass {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: .85;
  transition: all .4s ease-in-out;
}

.InAppOverlay {
  opacity: .5;
}

.LoginModalClass:focus {outline:none;}

li.large-logo {
  opacity: 1;
}
