.LoginModalClass {
  position: absolute;
  top: 20%;
  left: 36%;
  right: 36%;
  bottom: 600px;
  min-height: 280px;
  min-width: 500px;
  background-color: #e7e7e7;
  border: 0px solid #999;
  border-radius: 0px;
  transition: all .4s ease-in-out;
}

.OverlayClass {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: .85;
  transition: all .4s ease-in-out;
}

.InAppOverlay {
  opacity: .5;
}

.LoginModalClass:focus {outline:none;}

.AccountModalClass {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  top: 0%;
  right: 0%;
  min-height: 280px;
  min-width: 500px;
  background-color: transparent;
  border: 0px solid #999;
  border-radius: 0px;
  transition: all .4s ease-in-out;
}

.AccountOverlayClass {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: .8;
  transition: all .4s ease-in-out;
}

.AccountModalClass:focus {outline:none;}
