$deck-header-width: 500px;
$primary-color: #5cb85c;
$flash-green: #A5D6A7;
$secondary-color: #ff4e47;
$flash-red: #EF9A9A;
$primary-grey: #676767;
$primary-blue: #29a5dc;
$flash-blue: #90CAF9;
$secondary-grey: #dddddd;
$tirtiary-grey: #f3f3f3;
$button-padding: 6px;
$primary-margin: 10px;
$edit-color: #f0ad4e;
$flash-orange: #FFCC80;
$remove-color: $secondary-color;
$error-color: #ff1818;
$button-transition: .2s;
$card-index-width: 500px;
$radius: 12px;



header.nav-header {
  z-index: 100;
  display: flex;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background-color: #272727;
  border-bottom: 4px solid #29a5dc;
  opacity: .9;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
  min-width: 900px;
}

.logo {
  color: #29a5dc;
  font-weight: normal;
  font-size: 1.4em;
}

 ul.nav {
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 100%;
 }

ul.nav:first-child {
  margin-left: 30px;
  margin-right: 0px;
  padding-right: 0px;
}


ul.nav li.link {
  font-size: .8em;
  padding: 15px 20px;
  color: #858585;
  height: 100%;

  transition: font-size 0s ease-in-out;
}

ul.nav li.greeting {
  font-size: .8em;
  padding: 15px 20px;
  color: #858585;
  height: 100%;
  transition: all .4s ease-in-out;
}

ul.nav li.link:hover {
  color: #29a5dc;
  cursor: pointer;
}

ul.nav li.material-icons {
  color: #858585;
  transition: color .4s ease-in-out;
  transition: transform .4s ease-in-out;
  margin-left: 30px;
}

li.settings {
  transition: all .5s ease-in-out;
  transition: font-size 0s ease-in-out;
  margin-right: 30px;
}

li.settings:hover {
  transform: rotate(0.2turn);
}

ul.nav li.material-icons:hover {
  color: #29a5dc;
  cursor: pointer;
}

ul.nav li.logo-name {
  margin-left: 0px;
  padding-left: 0px;
}
