$deck-header-width: 500px;
$primary-color: #5cb85c;
$flash-green: #A5D6A7;
$secondary-color: #ff4e47;
$flash-red: #EF9A9A;
$primary-grey: #676767;
$primary-blue: #29a5dc;
$flash-blue: #90CAF9;
$secondary-grey: #dddddd;
$tirtiary-grey: #f3f3f3;
$button-padding: 6px;
$primary-margin: 10px;
$edit-color: #f0ad4e;
$flash-orange: #FFCC80;
$remove-color: $secondary-color;
$error-color: #ff1818;
$button-transition: .2s;
$card-index-width: 500px;
$radius: 12px;

hr {
  margin: 20px;
  margin-right: 80px;
  width: 240px;
  border-bottom: 1px solid white;
}

#splash-greeting-container {
  position: absolute;
  top: 55px;
  left: 120px;
  bottom: 0px;
  padding-left: 30px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  min-height: 740px;
  text-shadow: 0px 2px 4px rgba(0,0,0,0.6);
  background-color: rgba(0,0,0,.6);
}

h1#splash-header {
  font-size: 4.2em;
  margin-bottom: 8px;
}

h3#splash-sub-header {
  font-size: 1.8em;
}

p#splash-p {
  font-size: 1.2em;
  font-weight: normal;
  width: 300px;
  display: flex;
  margin-bottom: 36px;
}

p#splash-p div {
  margin-right: 10px;
}
