$deck-header-width: 500px;
$primary-color: #5cb85c;
$flash-green: #A5D6A7;
$secondary-color: #ff4e47;
$flash-red: #EF9A9A;
$primary-grey: #676767;
$primary-blue: #29a5dc;
$flash-blue: #90CAF9;
$secondary-grey: #dddddd;
$tirtiary-grey: #f3f3f3;
$button-padding: 6px;
$primary-margin: 10px;
$edit-color: #f0ad4e;
$flash-orange: #FFCC80;
$remove-color: $secondary-color;
$error-color: #ff1818;
$button-transition: .2s;
$card-index-width: 500px;
$radius: 12px;
$jackie-width: 240px;

button.demo-button {
  background-color: $primary-blue;
  color: white;
  font-weight: lighter;
  font-size: 1.4em;
  width: $jackie-width;
  padding-top: 20px;
  padding-bottom: 20px;
  letter-spacing: 2px;
  text-align: center;
}
button.demo-button:hover {
  background-color: $flash-blue;
}

hr {
  margin: 20px;
  width: $jackie-width;
  border-bottom: 1px solid $primary-blue;
}

#splash-greeting-container {
  position: absolute;
  top: 55px;
  left: 120px;
  bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  min-height: 740px;
  text-shadow: 0px 2px 4px rgba(0,0,0,0.3);
  background-color: rgba(0,0,0,.6);
}

h1#splash-header {
  color: white;
  font-size: 3em;
  margin-bottom: 8px;
}

h3#splash-sub-header {
  color: white;
  font-size: 1.4em;
}

p#splash-p {
  color: white;
  font-size: 1em;
  font-weight: lighter;
  width: 260px;
  display: flex;
  margin-bottom: 36px;
}

p#splash-p span {
  color: white;
  margin-right: 10px;
}
