$deck-header-width: 500px;
$primary-color: #5cb85c;
$flash-green: #A5D6A7;
$secondary-color: #ff4e47;
$flash-red: #EF9A9A;
$primary-grey: #676767;
$primary-blue: #29a5dc;
$flash-blue: #90CAF9;
$secondary-grey: #dddddd;
$tirtiary-grey: #f3f3f3;
$button-padding: 6px;
$primary-margin: 10px;
$edit-color: #f0ad4e;
$flash-orange: #FFCC80;
$remove-color: $secondary-color;
$error-color: #ff1818;
$button-transition: .2s;
$card-index-width: 500px;
$radius: 12px;

input.answer {
  background-color: $tirtiary-grey;
  font-size: 1.3em;
  padding: 3px;
  margin: 5px;
  width: 300px;
}

span.feedback {
  font-size: 1.3em;
  color: white;
}

span.question-body {
  font-size: 1.6em;
  color: white;
}

span.question-answer {
  font-size: 1.3em;
  letter-spacing: 2px;
  height: 50px;
  color: white;
}

section.study-section {
  margin: 20px;
  color: white;
}

section.study-section.left {
  margin-top: 60px;
  margin-left: 40px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
}
section.study-section.right {
  width: 500px;
  color: white;
}

div.question-container {
  color: white;
  height: 400px;
  border-left: 1px solid $tirtiary-grey;
  padding-left: 40px;
  padding-top: 60px;
}

.study-deck-title div {
  font-size: 1.6em;
  font-weight: normal;
  color: $primary-blue;
}

ul.progress {
  color: white;
  font-size: 1.2em;
  width: 100px;
}

ul.progress li {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

span.progress-correct {
  color: $primary-color;
}

span.progress-incorrect {
  color: $remove-color;
}

.study-view-container {
  display: flex;
  position: absolute;
  top: 54px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0,0,0,.85);
  color: white;
}



button.end-study {
  transition: all $button-transition ease-in-out;
  background-color: $primary-blue;
  border: 2px solid $primary-blue;
  color: white;
  padding: $button-padding;
  margin: 15px 0px;
  border-radius: 5px;
  font-size: .8em;
  height: 30px;
  width: 100px;
  background-size: 15px;
  background-position: center;
  background-repeat: no-repeat;
}

ul.exit-study li {
  color: white;
  position: absolute;
  right: 12px;
  top: 12px;
  z-index: 100;
}

button.end-study:hover {
  background-color: $flash-blue;
  border: 2px solid $flash-blue;
}
button.solve-button {
  transition: all $button-transition ease-in-out;
  background-color: $primary-blue;
  border: 2px solid $primary-blue;
  color: white;
  padding: $button-padding;
  margin: 15px 0px;
  border-radius: 5px;
  font-size: 1.2em;
  height: 60px;
  width: 120px;
  background-size: 15px;
  background-position: center;
  background-repeat: no-repeat;
}

button.solve-button:hover {
  background-color: $flash-blue;
  border: 2px solid $flash-blue;
}

button.solve-button.start {
  margin-top: 10px;
  margin-left: 20px;
  border-radius: 3px;
  font-size: 1.4em;
  height: 110px;
  width: 160px;
}

button.continue-button {
  transition: all $button-transition ease-in-out;
  background-color: $primary-blue;
  border: 2px solid $primary-blue;
  color: white;
  padding: $button-padding;
  margin: 15px 0px;
  border-radius: 5px;
  font-size: 1.2em;
  height: 60px;
  width: 160px;
  background-size: 15px;
  background-position: center;
  background-repeat: no-repeat;
}

button.continue-button:hover {
  background-color: $flash-blue;
  border: 2px solid $flash-blue;
}
